@font-face {
    font-family: conduit_itcregular;
    src: url(/assets/fonts/conduitclig-webfont.eot);
    src: url(/assets/fonts/conduitclig-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/conduitclig-webfont.woff2) format("woff2"), url(/assets/fonts/conduitclig-webfont.woff) format("woff"), url(/assets/fonts/conduitclig-webfont.ttf) format("truetype"), url(/assets/fonts/conduitclig-webfont.svg#conduit_itcregular) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: conduititc_ttbold;
    src: url(/assets/fonts/conduititc_tt_bold-webfont.eot);
    src: url(/assets/fonts/conduititc_tt_bold-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/conduititc_tt_bold-webfont.woff2) format("woff2"), url(/assets/fonts/conduititc_tt_bold-webfont.woff) format("woff"), url(/assets/fonts/conduititc_tt_bold-webfont.ttf) format("truetype"), url(/assets/fonts/conduititc_tt_bold-webfont.svg#conduititc_ttbold) format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: conduitmditc_ttmedium;
    src: url(/assets/fonts/conduitmditc_tt_medium-webfont.eot);
    src: url(/assets/fonts/conduitmditc_tt_medium-webfont.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/conduitmditc_tt_medium-webfont.woff2) format("woff2"), url(/assets/fonts/conduitmditc_tt_medium-webfont.woff) format("woff"), url(/assets/fonts/conduitmditc_tt_medium-webfont.ttf) format("truetype"), url(/assets/fonts/conduitmditc_tt_medium-webfont.svg#conduitmditc_ttmedium) format("svg");
    font-weight: 400;
    font-style: normal
}
body {
    background-color: #002B4B;
    color: #fff;
    overflow: hidden;
    font-family: conduitmditc_ttmedium;
    margin: 0
}
* {
    outline: 0
}
::selection {
    background: 0 0
}
::-moz-selection {
    background: 0 0
}
html {
    box-sizing: border-box
}
*,
:after,
:before {
    box-sizing: inherit
}
.wrapper {
    width: 1920px;
    height: 1080px;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.hand {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(/assets/images/hand.svg) left top/100% 100% no-repeat;
    color: #fff;
    bottom: 20px;
    left: 900px
}
.backBt {
    z-index: 50;
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(/assets/images/back.svg) left top/100% 100% no-repeat;
    color: #fff;
    border: 0 solid;
    top: 39px;
    left: 60px
}
.daVid {
    width: 1920px;
    height: 1080px
}
.textCont {
    z-index: 20
}
.indexBg {
    background: url(/assets/images/page0.jpg) left top no-repeat
}
.langBg {
    background: url(/assets/images/page1.jpg) left top no-repeat
}
.boatBg {
    background: url(/assets/images/page2e.jpg) left top no-repeat
}
.detailBg {
    background: url(/assets/images/page3.jpg) left top no-repeat
}
*,
img {
    -webkit-user-drag: none
}
.absFull,
.mainLink,
.textCont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}
.circle {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px dashed #000
}
.circle a {
    display: inline-block;
    width: 100%;
    height: 100%
}
@-webkit-keyframes rotating {
    0%, 100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes rotating {
    0%, 100% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.rotating {
    -webkit-animation: rotating 8s ease-in-out infinite;
    -moz-animation: rotating 8s ease-in-out infinite;
    -ms-animation: rotating 8s ease-in-out infinite;
    -o-animation: rotating 8s ease-in-out infinite;
    animation: rotating 8s ease-in-out infinite
}
.fullSpan {
    display: inline-block;
    width: 100%;
    height: 100%
}
.boatBg .backBt {
    top: auto;
    bottom: 49px
}
.DERIVES_LATERALES {
    width: 81px;
    height: 81px;
    left: 929px;
    top: 367px
}
.DERIVES_LATERALES2 {
    width: 88px;
    height: 88px;
    left: 898px;
    top: 560px
}
.PIED_DE_MAT {
    width: 67px;
    height: 67px;
    left: 947px;
    top: 485px
}
.PUIT_DE_QUILLE {
    width: 51px;
    height: 51px;
    left: 996px;
    top: 528px
}
.SOUTES_A_VOILE {
    width: 113px;
    height: 113px;
    left: 748px;
    top: 329px
}
.COCKPIT_INTERIEUR {
    width: 83px;
    height: 83px;
    left: 1137px;
    top: 436px
}
.HYDROGENERATEUR {
    width: 50px;
    height: 50px;
    left: 1610px;
    top: 592px
}
.HYDROGENERATEUR2 {
    width: 50px;
    height: 50px;
    left: 1594px;
    top: 708px
}
.BALISE_DE_DETRESSE {
    width: 33px;
    height: 33px;
    left: 1242px;
    top: 529px
}
.BOUTS {
    width: 45px;
    height: 45px;
    left: 1426px;
    top: 514px
}
.COCKPIT_EXTERIEUR {
    width: 55px;
    height: 55px;
    left: 1409px;
    top: 607px
}
.BLOC_CUISINE {
    width: 80px;
    height: 80px;
    left: 1138px;
    top: 549px
}
.CRASH_BOX {
    width: 159px;
    height: 159px;
    left: 257px;
    top: 299px
}
.WINCHES {
    width: 44px;
    height: 44px;
    left: 1383px;
    top: 480px
}
.WINCHES2 {
    width: 40px;
    height: 40px;
    left: 1450px;
    top: 483px
}
.WINCHES3 {
    width: 71px;
    height: 71px;
    left: 1340px;
    top: 574px
}
.WINCHES4 {
    width: 44px;
    height: 44px;
    left: 1338px;
    top: 693px
}
.WINCHES5 {
    width: 44px;
    height: 44px;
    left: 1387px;
    top: 716px
}
.ANTENNES_SATELLITES {
    width: 62px;
    height: 62px;
    left: 1469px;
    top: 609px
}
.ANTENNES_SATELLITES2 {
    width: 62px;
    height: 62px;
    left: 1527px;
    top: 620px
}
.BARRES_ET_SAFRAN {
    width: 70px;
    height: 70px;
    left: 1475px;
    top: 528px
}
.BARRES_ET_SAFRAN2 {
    width: 70px;
    height: 70px;
    left: 1450px;
    top: 673px
}
.BARRES_ET_SAFRAN3 {
    width: 65px;
    height: 65px;
    left: 1635px;
    top: 537px
}
.BARRES_ET_SAFRAN4 {
    width: 66px;
    height: 66px;
    left: 1589px;
    top: 757px
}
.ORDI_DE_BORD {
    width: 70px;
    height: 70px;
    left: 1068px;
    top: 512px
}
.ORDI_DE_BORD2 {
    width: 34px;
    height: 34px;
    left: 1081px;
    top: 474px
}
.ORDI_DE_BORD3 {
    width: 34px;
    height: 34px;
    left: 1060px;
    top: 578px
}
.BOUT_DEHORS {
    width: 95px;
    height: 95px;
    left: 150px;
    top: 307px
}
.BANETTE {
    width: 62px;
    height: 62px;
    left: 1143px;
    top: 346px
}
.laserMap {
    height: 100%
}
@keyframes handwave {
    0% {
        opacity: 0;
        bottom: 0
    }
    5% {
        opacity: 1;
        bottom: 0
    }
    80% {
        bottom: 300px;
        opacity: 1;
        transform: scale(1)
    }
    90% {
        bottom: 300px;
        opacity: 1;
        transform: scale(1.5)
    }
    100% {
        bottom: 300px;
        opacity: 0
    }
}
@-webkit-keyframes handwave {
    0% {
        opacity: 0;
        bottom: 0
    }
    5% {
        opacity: 1;
        bottom: 0
    }
    80% {
        bottom: 300px;
        opacity: 1;
        -webkit-transform: scale(1)
    }
    90% {
        bottom: 300px;
        opacity: 1;
        -webkit-transform: scale(1.5)
    }
    100% {
        bottom: 300px;
        opacity: 0
    }
}
.animHand {
    animation: handwave 4s 2s infinite ease-out;
    -webkit-animation: handwave 4s 2s infinite ease-out;
    opacity: 0
}
.btLang {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 958px;
    background-color: rgba(255,0,0,.2);
}
.btLang.btFr {
    left: 770px
}
.btLang.btEn {
    left: 910px
}
.btLang.btDe {
    left: 1060px
}
.page2 .hand {
    bottom: -70px;
    left: 728px
}
.langueBt {
    bottom: 22px;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9
}
.langueBt.fr {
    left: 769px
}
.langueBt.en {
    left: 909px
}
.langueBt.de {
    left: 1055px
}
.langueBt.back {
    left: 20px
}
.langueBt.debug {
    left: 0;
    top: 0
}
.zone {
    bottom: 432px;
    left: 1138px;
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    border: 0 solid red
}
.zone:hover {
    border-width: 5px
}
.zone.cuisine {
    bottom: 451px;
    left: 1138px;
    width: 80px;
    height: 80px
}
.highTextCont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 745px;
    z-index: 20
}
.detailBloc {
    position: absolute;
    top: 75px;
    left: 54px;
    width: 690px
}
.detailTitle {
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-bottom: 41px
}
.detailTxt {
    font-size: 35px;
    padding-left: 5px
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #707270;
    height: 80px
}
.carrousel {
    position: absolute;
    top: 0;
    right: 210px;
    left: 960px;
    bottom: 0;
    z-index: 40
}
.carrousel img {
    width: 750px
}
.carrouselCont {
    position: relative
}
.hz {
    left: 780px;
    right: 60px
}
.hz .carrouselCont {
    margin-top: 145px
}
.hz img {
    width: 1080px
}
.carrControlCont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    color: #000;
    background-color: #fff
}
.cc {
    position: absolute;
    bottom: 10px;
    left: 10px
}
.carrTxt {
    position: absolute;
    bottom: 14px;
    left: 20px;
    right: 160px;
    font-size: 24px
}
.carrControls {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    height: 80px
}
.carrBt {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    background: url(/assets/images/backR.svg) left top/100% 100% no-repeat;
    color: #fff;
    border: 0 solid;
    margin-right: 8px;
    top: 10px
}
.carrBt.next {
    background: url(/assets/images/next.svg) left top/100% 100% no-repeat;
    margin-right: 0
}
/*a,a:focus{
  background-color: rgba(255,0,0,0.2); !important;
}*/

.debug {
    position: absolute;
    top: 110px;
    left: 40px;
    color: red;
    font-size: 20px;
    z-index: 30;
    display: none;
}
.mejs-container .mejs-controls {
    display: none !important;
}
